@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --primary-color: #c5c2b7;
  --secondary-color: #848484;
  --gray-color: #d8d8d8;
  --dark-color: #2f2f2f;
  --third-color: #00a963;
  --fourth-color: #f8f8f8f8;
  --title-size: 36px;
  --header-size: 28px;
  --body-size: 16px;
  --body-size-sm: 14px;
  --action-size: 16px;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

/*  Navbar Style */

header {
  position: sticky;
  top: -1px;
  background-color: var(--dark-color);
  width: 100%;
  padding: 1rem 0;
  z-index: 80;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(56, 165, 238, 0.5);
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 1.5rem;
  box-sizing: border-box;
  display: flex;
  /* justify-content: space-between; */
  position: relative;
}

.logo-container {
  flex: 1;
  display: flex;
  align-items: center;
}

.nav-btn {
  flex: 3;
  display: flex;
}

.nav-links {
  width: 100%;
}

.nav-links li {
  list-style: none;
}

.logo {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 3rem;
}

.logo span {
  font-weight: 300;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1.3rem;
  font-size: 0.8rem;
  border: 2px solid #fff;
  border-radius: 2rem;
  line-height: 1;
  margin: 0 0.2rem;
  transition: 0.3s;
  text-transform: uppercase;
}

.btn.solid,
.btn.transparent:hover {
  background-color: #fff;
  color: #69bde7;
}

.btn.transparent,
.btn.solid:hover {
  background-color: transparent;
  color: #fff;
}

.nav-links > ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-link {
  position: relative;
}

.nav-link > a {
  line-height: 3rem;
  color: #fff;
  padding: 0 0.8rem;
  letter-spacing: 1px;
  font-size: var(--body-size);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s;
  text-decoration: none;
}

.nav-link > a > i {
  margin-left: 0.2rem;
}

.nav-link:hover > a {
  transform: scale(1.1);
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  max-width: 20rem;
  min-width: 10rem;
  width: max-content;
  transform: translateY(10px);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.dropdown ul {
  position: relative;
}

.dropdown-link > a {
  display: flex;
  text-decoration: none;
  color: white;
  background-color: var(--dark-color);
  padding: 0.5rem 1rem;
  font-size: var(--body-size);
  align-items: center;
  justify-content: space-between;
  transition: 0.3s;
}

.dropdown-link:hover > a {
  background-color: var(--third-color);
  color: #fff;
}

.dropdown-link i {
  transform: rotate(-90deg);
}

.arrow {
  position: absolute;
  width: 11px;
  height: 11px;
  top: -5.5px;
  left: 32px;
  background-color: #fff;
  transform: rotate(45deg);
  cursor: pointer;
  transition: 0.3s;
  z-index: -1;
}

.dropdown-link:first-child:hover ~ .arrow {
  background-color: var(--dark-color);
}

.dropdown-link {
  position: relative;
}

.dropdown.second {
  top: 0;
  left: 100%;
  padding-left: 0.8rem;
  cursor: pointer;
  transform: translateX(10px);
}

.dropdown.second .arrow {
  top: 10px;
  left: -5.5px;
}

.nav-link:hover > .dropdown,
.dropdown-link:hover > .dropdown {
  transform: translate(0, 0);
  opacity: 1;
  pointer-events: auto;
}

.hamburger-menu-container {
  flex: 1;
  display: none;
  align-items: center;
  justify-content: flex-end;
}

.hamburger-menu {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hamburger-menu div {
  width: 1.6rem;
  height: 3px;
  border-radius: 3px;
  background-color: #fff;
  position: relative;
  z-index: 1001;
  transition: 0.5s;
}

.hamburger-menu div:before,
.hamburger-menu div:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #fff;
  border-radius: 3px;
  transition: 0.5s;
}

.hamburger-menu div:before {
  transform: translateY(-7px);
}

.hamburger-menu div:after {
  transform: translateY(7px);
}

#check {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%);
  width: 2.5rem;
  height: 2.5rem;
  z-index: 90000;
  cursor: pointer;
  opacity: 0;
  display: none;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div,
.mobile-menu.open .hamburger-menu-container .hamburger-menu div {
  background-color: transparent;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:before,
.mobile-menu.open .hamburger-menu-container .hamburger-menu div:before {
  transform: translateY(0) rotate(-45deg);
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:after,
.mobile-menu.open .hamburger-menu-container .hamburger-menu div:after {
  transform: translateY(0) rotate(45deg);
}

.mobile-menu {
  display: none;
}

@keyframes animation {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: 920px) {
  .hamburger-menu-container {
    display: flex;
  }

  #check {
    display: block;
  }

  .nav-btn,
  .mobile-menu {
    position: fixed;
    height: calc(100vh - 4rem);
    top: 4rem;
    left: 0;
    width: 100%;
    background-color: var(--dark-color);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
    overflow-y: auto;
    transform: translateX(100%);
    transition: 0.65s;
  }

  .mobile-menu {
    display: block;
    height: 100vh;
    top: 0;
    z-index: 99;
    padding: 1rem 0;
  }

  .mobile-menu.open,
  .mobile-menu.open .nav-btn {
    transform: translateX(0);
  }

  .mobile-menu.open .nav-link,
  .mobile-menu.open .log-sign {
    animation: animation 0.5s ease forwards var(--i);
  }

  .nav-links {
    flex: initial;
    width: 100%;
  }

  .nav-links > ul {
    flex-direction: column;
  }

  .nav-link {
    width: 100%;
    opacity: 0;
    transform: translateY(15px);
  }

  .nav-link > a {
    line-height: 1;
    padding: 1.6rem 2rem;
  }

  .nav-link:hover > a {
    transform: scale(1);
    background-color: var(--dark-color);
  }

  .dropdown,
  .dropdown.second {
    position: initial;
    top: initial;
    left: initial;
    transform: initial;
    opacity: 1;
    pointer-events: auto;
    width: 100%;
    padding: 0;
    background-color: var(--dark-color);
    display: none;
  }

  .nav-link:hover > .dropdown,
  .dropdown-link:hover > .dropdown {
    display: block;
  }

  .nav-link:hover > a > i,
  .dropdown-link:hover > a > i {
    transform: rotate(360deg);
  }

  .dropdown-link > a {
    background-color: transparent;
    color: #fff;
    padding: 1.2rem 2rem;
    line-height: 1;
  }

  .dropdown.second .dropdown-link > a {
    padding: 1.2rem 2rem 1.2rem 3rem;
  }

  .dropdown.second .dropdown.second .dropdown-link > a {
    padding: 1.2rem 2rem 1.2rem 4rem;
  }

  .dropdown-link:not(:nth-last-child(2)) {
    border-bottom: none;
  }

  .arrow {
    z-index: 1;
    background-color: var(--third-color);
    left: 10%;
    transform: scale(1.1) rotate(45deg);
    transition: 0.5s;
  }

  .nav-link:hover .arrow {
    background-color: var(--third-color);
  }

  .dropdown .dropdown .arrow {
    display: none;
  }

  .dropdown-link:hover > a {
    background-color: var(--third-color);
  }

  .dropdown-link:first-child:hover ~ .arrow {
    background-color: var(--third-color);
  }

  .nav-link > a > i {
    font-size: 1.1rem;
    transform: rotate(-90deg);
    transition: 0.7s;
  }

  .dropdown i {
    font-size: 1rem;
    transition: 0.7s;
  }
}

.wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 0 1.5rem;
}

.preloader {
  display: block;
  position: fixed;
  z-index: 10000010000;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 100vh;
  background-color: white;
}

@keyframes fade {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

.preloader.disable {
  animation: fade 1000ms;
}

.preloader .preloader_container {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.preloader .preloader_container img {
  width: 100%;
  max-width: 94px;
}

.preloader .preloader_container h2 {
  font-size: var(--header-size);
}

.topbar {
  padding: 0.5rem 1.5rem;
  box-sizing: border-box;
  text-align: center;
  background-color: #f7e32b;
}

.topbar p {
  font-size: var(--body-size);
}

.header {
  width: 100%;
  background-color: white;
  padding: 2rem 0;
}

.header .header_container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.header .header_brand {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.header .header_brand a {
  color: black;
  text-decoration: none;
}

.header .header_brand img {
  height: 74px;
}

.header .header_brand h1 {
  font-size: var(--body-size);
}

.header_content {
  width: 30%;
}

.header .header_content .header_link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.header .header_content .header_link a {
  font-size: var(--body-size-sm);
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.header .header_content .header_search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
  background-color: white;
  border-radius: 10px;
  box-sizing: border-box;
  border: 1.5px solid var(--gray-color);
}

.header .header_content .header_search button {
  padding: 8px 15px;
  border: none;
  background-color: transparent;
}

.header .header_content .header_search i {
  font-size: 18px;
}

.header .header_content .header_search input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 10px 0 10px 15px;
  box-sizing: border-box;
  font-size: var(--body-size);
}

/* Hero Style */

.hero .hero_slide {
  position: relative;
}

.hero .hero_slide img {
  width: 100%;
  object-fit: cover;
  min-height: 450px;
  max-height: 450px;
}

.hero .hero_slide .hero_card {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  max-width: 1200px;
  padding: 0 1.5rem;
  width: 100%;
}

.hero .hero_slide .hero_card .hero_card_content {
  background-color: transparent;
  max-width: 600px;
  width: 80%;
  padding: 30px 1.5rem;
  box-sizing: border-box;
}

.hero .hero_slide .hero_card .hero_card_content h2 {
  font-size: var(--header-size);
  margin-bottom: 15px;
  color: white;
}

.hero .hero_slide .hero_card .hero_card_content p {
  font-size: var(--body-size);
  color: var(--gray-color);
  margin-bottom: 20px;
}

.hero .hero_slide .hero_card .hero_card_content a {
  padding: 10px 20px;
  box-sizing: border-box;
  font-size: var(--body-size);
  font-weight: 600;
  background-color: var(--third-color);
  border: none;
  color: white;
  text-decoration: none;
  display: inline-block;
}

/* Category Style */

.category {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.category .category_item {
  display: flex;
  column-gap: 10px;
  border: 1px solid var(--gray-color);
  height: 150px;
  position: relative;
}

.category .category_item .category_image img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.category .category_item .category_content {
  padding: 10px;
  box-sizing: border-box;
}

.category .category_item .category_content h2 {
  font-size: calc(var(--body-size) + 4px);
  margin-bottom: 10px;
}

.category .category_item .category_content a {
  color: black;
  text-decoration: none;
}

.category .category_item .category_content a::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
}

.category .category_item .category_content p {
  font-size: var(--body-size);
  color: var(--secondary-color);
}

/* News Style */

.news {
  padding: 4rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  box-sizing: border-box;
}

.news .news_popular .btn {
  padding: 10px 20px;
  box-sizing: border-box;
  font-size: var(--body-size);
  border: none;
  background-color: transparent;
  border: 2px solid var(--third-color);
  color: var(--third-color);
  text-decoration: none;
  display: inline-block;
}

.news .news_popular img {
  width: 100%;
  max-height: 350px;
  height: 100%;
  object-fit: cover;
}

.news .news_popular h4 {
  font-size: calc(var(--header-size) - 4px);
  margin-bottom: 10px;
}

.news .news_popular h4 a {
  color: black;
  text-decoration: none;
}

.news .news_info {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.news .news_info p {
  font-size: var(--body-size);
  color: var(--third-color);
  margin-bottom: 15px;
}

.news .news_popular > p {
  color: var(--secondary-color);
  font-size: var(--body-size);
  margin-bottom: 15px;
}

.news .news_latest {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.news .news_latest .news_item {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.news .news_latest .news_item .news_image img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.news .news_latest .news_item .news_content h4 {
  font-size: var(--body-size);
  margin-bottom: 10px;
}

.news .news_latest .news_item .news_content h4 a {
  text-decoration: none;
  color: black;
}

.news .news_latest .news_item .news_content > p {
  color: var(--secondary-color);
  font-size: var(--body-size);
  margin-bottom: 15px;
}

.news .news_latest .news_item .news_content .btn {
  padding: 10px 20px;
  box-sizing: border-box;
  font-size: calc(var(--body-size) - 4px);
  border: none;
  background-color: transparent;
  border: 2px solid var(--third-color);
  color: var(--third-color);
  text-decoration: none;
  display: inline-block;
}

/* Report Style */

.report {
  background-color: var(--fourth-color);
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.report .report_container {
  margin: auto;
  max-width: 1200px;
  padding: 4rem 1.5rem;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  position: relative;
}

.report div:nth-child(1) {
  padding: 2rem 1.5rem;
  box-sizing: border-box;
  left: 0;
}

.report div h2 {
  font-size: var(--header-size);
}

.report div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.report div a {
  display: inline-block;
  max-width: 250px;
  width: 100%;
}

.report div img {
  display: block;
  object-fit: cover;
  width: 100%;
}

/* Company Style */

.company {
  padding: 6rem 0;
}

.company h2 {
  font-size: var(--header-size);
  text-align: center;
  margin-bottom: 10px;
}

.company p {
  font-size: var(--body-size);
  text-align: center;
  color: var(--secondary-color);
  margin-bottom: 50px;
}

.company .company_container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(6, 1fr);
  gap: 50px;
}

.company .company_item:nth-child(13) {
  grid-column: 1/3;
}

.company .company_item:nth-child(14) {
  grid-column: 3/5;
}

.company .company_item:nth-child(15) {
  grid-column: 5/7;
}

.company a {
  text-decoration: none;
  color: black;
}

.company img {
  max-width: 64px;
  width: 100%;
  display: block;
  margin: auto;
}

.faq_heading {
  font-size: var(--body-size);
  -webkit-transition: text-indent 0.2s;
  font-weight: 600;
  padding: 10px;
  box-sizing: border-box;
  background-color: white;
}

/* FAQ Style */

.faq {
  padding: 5rem 0;
}

.faq > h2 {
  font-size: var(--header-size);
  text-align: center;
  margin-bottom: 10px;
}

.faq > p {
  text-align: center;
  font-size: var(--body-size);
  color: var(--secondary-color);
  margin-bottom: 50px;
}

.faq .faq_container {
  position: relative;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.faq label {
  display: block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.faq input[type="checkbox"] {
  display: none;
}

.faq .faq_arrow {
  width: 5px;
  height: 5px;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border-top: 2px solid rgba(0, 0, 0, 0.33);
  border-right: 2px solid rgba(0, 0, 0, 0.33);
  float: right;
  position: relative;
  top: -30px;
  right: 27px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.faq input[type="checkbox"]:checked + label > .faq_arrow {
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.faq input[type="checkbox"]:checked + label {
  display: block;
  background: rgba(255, 255, 255, 255) !important;
  color: var(--third-color);
  height: auto;
  transition: height 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.faq input[type="checkbox"]:not(:checked) + label {
  display: block;
  transition: height 0.8s;
  height: 60px;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.faq_text {
  padding: 20px 10px 20px 10px;
  box-sizing: border-box;
}

.faq_text p {
  font-size: var(--body-size);
  color: var(--secondary-color);
}

/* Socmed Style */

.socmed {
  position: fixed;
  left: 0;
  top: 25%;
  z-index: 90;
  display: flex;
  flex-direction: column;
}

.socmed div {
  background-color: #00a963;
}

.socmed a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.socmed i {
  font-size: 20px;
  color: white;
}

/* Popup Style */

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99;
}

.popup .popup_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 450px;
  width: 80%;
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
}

.popup .popup_header i {
  float: right;
  font-size: 20px;
  color: var(--secondary-color);
}

.popup .popup_header h2 {
  font-size: var(--header-size);
  margin-bottom: 10px;
}

.popup .popup_main p {
  font-size: var(--body-size);
}

/* Feedback Style */

.feedback {
  padding-block: 2rem;
  background-color: var(--gray-color);
  text-align: center;
}

.feedback p {
  font-size: calc(var(--header-size) - 4px);
  margin-bottom: 0.5rem;
}

.feedback a {
  padding: 10px 20px;
  box-sizing: border-box;
  font-size: calc(var(--body-size));
  border: none;
  background-color: transparent;
  border: 2px solid var(--dark-color);
  color: var(--dark-color);
  text-decoration: none;
  display: inline-block;
}

/* Footer Style */

.footer {
  background-color: var(--dark-color);
}

.footer .footer_container {
  margin: auto;
  max-width: 1200px;
  padding: 5rem 1.5rem;
  box-sizing: border-box;
}

.footer p {
  color: white;
  font-size: var(--body-size);
  text-align: center;
}

.footer p a {
  color: white;
  font-size: var(--body-size);
}

/* Copyright Style */

.copyright {
  width: 100%;
  background-color: black;
  padding: 1.5rem 0;
}

.copyright p {
  color: white;
  text-align: center;
  font-size: var(--body-size);
  font-weight: 600;
}

@media (max-width: 1024px) {
  .navbar {
    display: none;
  }

  .navbar_mobile {
    display: flex;
  }

  .navbar_mobile_container.active {
    display: flex;
  }

  .header_container {
    flex-direction: column;
  }

  .header_brand {
    text-align: center;
    margin-bottom: 20px;
  }

  .header_content {
    width: 100%;
  }

  .header .header_content .header_link {
    justify-content: space-evenly;
  }

  .category {
    grid-template-columns: repeat(1, 1fr);
  }

  .news {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 50px;
  }

  .report div a {
    width: 50%;
  }

  .company .company_container {
    grid-template-columns: repeat(4, 1fr);
  }

  .company .company_item:nth-child(13) {
    grid-column: unset;
  }

  .company .company_item:nth-child(14) {
    grid-column: 2/4;
  }

  .company .company_item:nth-child(15) {
    grid-column: unset;
  }

  .company img {
    max-width: 54px;
  }
}

@media (max-width: 768px) {
  :root {
    --title-size: 28px;
    --header-size: 24px;
    --body-size: 13px;
    --body-size-sm: 12px;
    --action-size: 15px;
  }

  .category .category_item {
    height: 100px;
  }

  .category .category_item .category_image img {
    width: 100px;
    height: 100px;
  }

  .news {
    row-gap: 50px;
  }

  .news .news_info p {
    font-size: calc(var(--body-size) - 2px);
  }

  .news .news_latest {
    row-gap: 50px;
  }

  .news .news_latest .news_item {
    column-gap: unset;
    flex-direction: column;
  }

  .news .news_latest .news_item .news_image {
    width: 100%;
  }

  .news .news_latest .news_item .news_image img {
    width: 100%;
    max-height: 350px;
    height: 100%;
  }

  .news .news_latest .news_item .news_content h4 {
    font-size: calc(var(--header-size) - 4px);
  }

  .news .news_latest .news_item .news_content button {
    font-size: var(--body-size);
  }

  .report .report_container {
    grid-template-columns: repeat(1, 1fr);
  }

  .report div a {
    width: 25%;
  }

  .report div:nth-child(2) {
    justify-content: space-around;
  }

  .company .company_container {
    grid-template-columns: repeat(3, 1fr);
  }

  .company .company_item:nth-child(13) {
    grid-column: unset;
  }

  .company .company_item:nth-child(14) {
    grid-column: unset;
  }

  .company .company_item:nth-child(15) {
    grid-column: unset;
  }

  .company img {
    max-width: 44px;
  }

  .socmed {
    top: 30%;
  }

  .socmed a {
    padding: 10px;
  }

  .socmed i {
    font-size: 18px;
    color: white;
  }

  .faq .faq_container {
    grid-template-columns: repeat(1, 1fr);
  }
}
